{% extends "DeepThought/templates/base.html" %}

{% block footer %}
  <footer class="footer py-4">
    <div class="content has-text-centered">
      <p>
        In the name of
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-code"></i>
          </span>
          <span>code</span>
        </span>
        we
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-heart"></i>
          </span>
          <span>trust</span>
        </span>
        .
      </p>
      <p>
        Powered by
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-power-off"></i>
          </span>
          <span><a href="https://gitlab.com/hadilq/hadilq.gitlab.io">Gitlab</a>, <a href="https://github.com/RatanShreshtha/DeepThought">DeepThought</a>, and <a href="https://github.com/getzola/zola">Zola</a></span>
        </span>
      </p>
    </div>
  </footer>
{% endblock %}
